
/**
 * 1 General fixes
 *
 * These styles fix common problems. They should be moved to the theme.json, if possible.
 */

* {
  box-sizing: border-box;
}

a span:hover {
  text-decoration: underline;
}

[title]:after {
  background-color: red !important;
}

footer {
  margin-top: 0 !important /* Disabling blockGap */
}

/*Change search field's cancel button in multiple browsers, including Chrome and Safari*/
::-webkit-search-cancel-button {
  appearance: none;
  background: url(../images/xmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  background-color: var(--wp--preset--color--light-1);
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}


/**
 * 2 Footer position
 *
 * For keeping footer at the bottom of the viewport in pages with little of content.
 */

html,
body,
body > div {
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}