
/**
 * 1 General fixes
 *
 * These styles fix common problems. They should be moved to the theme.json, if possible.
 */

* {
  box-sizing: border-box;
}

a span:hover {
  text-decoration: underline;
}

[title]:after {
  background-color: red !important;
}

footer {
  margin-top: 0 !important /* Disabling blockGap */
}


/**
 * 2 Footer position
 *
 * For keeping footer at the bottom of the viewport in pages with little of content.
 */

html,
body,
body > div {
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}