
<!-- wp:template-part {"slug":"header","theme":"kide","tagName":"header","className":"kide-header"} /-->

<!-- wp:group {"tagName":"main","backgroundColor":"dark-8","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group has-dark-8-background-color has-background" style="margin-top:0">
  <!-- wp:pattern {"slug":"kide/simple-intro"} /-->
  <!-- wp:pattern {"slug":"kide/all-posts-query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kide","tagName":"footer","className":"kide-footer"} /-->