
/**
 * Wide image site intro columns
 *
 * The image has left and right spacing in narrow viewports.
 */

@media only screen and (min-width: 1600px) {
  .kide-site-intro-wide-column-1 {
    margin-right: var(--wp--preset--spacing--40) !important; /* Overrides smaller margin set in block markup */
  }
}


/**
 * Full image site intro column
 *
 * The image has no left and right spacing in narrow viewports.
 */

.kide-site-intro-full-column-2 > figure {
  margin: 0;
}

@media only screen and (min-width: 1600px) {
  .kide-site-intro-full-column-2 {
    padding-top: var(--wp--preset--spacing--40) !important;
    padding-right: var(--wp--preset--spacing--40) !important;
    padding-bottom: var(--wp--preset--spacing--40) !important;
  }
}