
/**
 * Site intro wide column
 */

.kide-site-intro-wide-column-1 * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kide-site-intro-wide-column-1 p {
  line-height: 2;
}

.kide-site-intro-wide-column-1 > :first-child {
  margin-top: 2rem;
}

.kide-site-intro-wide-column-1 > :last-child {
  margin-bottom: 0;
}

.kide-site-intro-wide-column-2 > figure {
  margin: 0;
}

@media only screen and (min-width: 1600px) {
  .kide-site-intro-wide-column-1 {
    margin-right: 4rem !important;
  }
  .kide-site-intro-wide-column-1 > :first-child {
    margin-top: 0;
  }
}

/**
 * Site intro full column
 */

.kide-site-intro-full-column-1 {
  padding: 2rem;
  box-sizing: border-box;
}

.kide-site-intro-full-column-1 * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kide-site-intro-full-column-1 p {
  line-height: 2;
}

.kide-site-intro-full-column-1 > :first-child {
  margin-top: 0;
}

.kide-site-intro-full-column-1 > :last-child {
  margin-bottom: 0;
}

.kide-site-intro-full-column-2 > figure {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  .kide-site-intro-full-column-1 {
    padding: 0;
  }
  .kide-site-intro-full-column-1 > :first-child {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .kide-site-intro-full-column-1 {
    margin-right: 4rem !important;
  }
  .kide-site-intro-full-column-1 > :first-child {
    margin-top: 0;
  }
}