
/**
 * 1 Header container
 *
 * The group block used in the header part.
 */

.kide-header-container {
  justify-content: space-evenly;
}


/**
 * 2 Latest posts list
 *
 * The stack block used in the latest posts list pattern.
 */

.kide-latest-list-stack {
  display: grid;
}


/**
 * 3 404
 *
 * The group block used in the 404 pattern.
 **/

.kide-404-outer-container {
  height: 100%;
}


/**
 * 4 Adaptable three-column group
 *
 * A group block with one, two or three columns depending on the viewport width.
 * The columns are created with child group blocks. The number of child groups can 
 * vary from one to unlimited.
 **/

.kide-three-column-grid {
  display: grid !important;
  grid-template-columns: auto;
}

@media screen and (min-width: 700px) {
  .kide-three-column-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1600px) {
  .kide-three-column-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}