
/**
 * 1 Header container
 */

.kide-header-container {
  justify-content: space-evenly;
}


/**
 * 2 Latest posts list
 */

.kide-latest-list-stack {
  display: grid;
}


/**
 * 3 404
 **/

.kide-404-outer-container {
  height: 100%;
}