
/**
 * Latest posts list section
 */

#kide-latest-list-group {
  padding: 0;
}

.kide-latest-list-stack {
  display: grid;
  gap: 2rem;
  max-width: 1200px !important;
  padding: 2rem;
}

@media only screen and (min-width: 1000px) {
  .kide-latest-list-stack {
    gap: 4rem;
    padding: 4rem;
  }
}

/*
 * Post
 **/

.kide-post {
  padding-left: 2rem;
  padding-right: 2rem;
}