
/**
 * Latest posts list
 */

.kide-latest-posts-list {
  width: 100%;
}

.kide-latest-posts-list li {
  display: grid;
  margin-top: var(--wp--preset--spacing--20);
  border-bottom: solid 5px var(--wp--preset--color--dark-4);
}

@media only screen and (min-width: 800px) {
  .kide-latest-posts-list li {
    grid-template-columns: 30% 70%;
    gap: var(--wp--preset--spacing--20);
  }
  .kide-latest-posts-list > li > a {
    grid-area: 1 / 2 / 1 / 2;
  }
  .kide-latest-posts-list > li > time {
    grid-area: 1 / 1 / 1 / 1;
  }
}