
/* Container of responsive menu items */
.wp-block-navigation__responsive-container-content {
  align-items: center !important;
}

/* Responsive menu, all items */
.wp-block-navigation__responsive-container.is-menu-open {
  line-height: 3.0rem;
}

/* Responsive submenu containers */
.wp-block-navigation__responsive-container.is-menu-open 
.wp-block-navigation__responsive-container-content 
.wp-block-navigation__submenu-container {
  padding-top: 0;
  font-size: 1.5rem;
}

/* Responsive menu, first level of navigation items */
.wp-block-navigation__responsive-container.is-menu-open 
.wp-block-navigation__responsive-container-content > ul > li {
  padding-top: 1.0rem;
}

/* Responsive menu, first links of navigation items */
.wp-block-navigation__responsive-container.is-menu-open 
.wp-block-navigation__responsive-container-content > ul > li > a {
  font-size: 2.0rem;
}

/* Setting the navigation overlay background in header.html and theme.json did not work.
Try to solve this problem later and use this style for now. */
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open,
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  background-color: var(--wp--preset--color--background-1);
  color: var(--wp--preset--color--font-1);
}

.wp-block-navigation.wp-container-3 {
  justify-content: center !important; /* Try to get rid of this !important */
}

.wp-block-navigation__responsive-container-close svg, 
.wp-block-navigation__responsive-container-open svg {
  width: auto;
  height: 70px;
}

@media only screen and (max-width: 999px) {
  .wp-block-navigation__responsive-container-open, 
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
    .wp-block-navigation__responsive-container, 
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
}