
/**
 * 1 Query Loop
 *
 * 
 **/

.kide-post-template > li {
  display: flex;
  flex-direction: column;
  padding: var(--wp--preset--spacing--10);
  border: solid 5px var(--wp--preset--color--dark-11);
  text-align: center;
}