
/**
 * 1 Query Loop
 *
 * 
 **/

.kide-post-template > li {
  padding: var(--wp--preset--spacing--20);
  border-bottom: solid 5px var(--wp--preset--color--dark-11);
  border-left: solid 5px var(--wp--preset--color--dark-11);
}