
/**
 * Search bar
 */

#kide-search-bar {
  display: none;
}

.kide-is-block {
  display: block
}


/**
 * Header search block
 */

.kide-header-search > div > input {
  background-color: var(--wp--preset--color--dark-8);
  color: var(--wp--preset--color--light-2);
  border: none;
  padding: 15px;
}