

/**
 * 1 Header search block
 *
 * The search block.
 */

 /*The search block used in the header part.*/
.kide-header-search {
  max-width: 300px;
}

/*All input fields of all search blocks*/
.wp-block-search__input {
  width: 100%; /*Makes input field's width fluid.*/
  background-color: transparent; /*Prevents covering the block's background colour.*/
  color: var(--wp--preset--color--light-2); /*Doesn't work in theme.json at 6.5.*/
  border: none; /*Prevents the border around the input field.*/
  padding: 15px; /*While at 6.5 this cannot be done to input field at theme.json.*/
  outline: 0; /*Prevents outline when the user clicks the input field.*/
}

/*All buttons of all search blocks*/
.wp-block-search button {
  background-color: transparent; /*Prevents covering the block's background colour.*/
}