

/**
 * Search toggle button
 */

#kide-search-toggle > img:hover {
  content: url(../../images/magnifying-glass-purple.svg);
}

#kide-search-toggle > img:active {
  content: url(../../images/magnifying-glass-white.svg);
}


/**
 * Search bar
 */

#kide-search-bar {
  display: none;
}

.kide-is-block {
  display: block !important;
}


/**
 * Header search block
 */

.kide-header-search > div > input {
  background-color: var(--wp--preset--color--dark-10);
  color: var(--wp--preset--color--light-2);
  border: none;
  padding: 15px;
  outline: 0;
}