
/**
 * Table
 */

.wp-block-table th,
.wp-block-table td {
  border: solid 5px var(--wp--preset--color--dark-9);
  text-align: center;
}

.wp-block-table th {
  color: var(--wp--preset--color--kide-violet);
}

.wp-block-table figcaption {
  color: var(--wp--preset--color--light-2);
  font-size: var(--wp--preset--font-size--xs);
  padding: var(--wp--preset--spacing--10);;
}